@(issueForm: Form[(String, String, Int)], developerForm: Form[String], issues: Seq[Issue], devs: Seq[Developer])

@import helper._
@import models._

@main("Code Review Issue Tracker") {
    <h2>Add a new issue</h2>

    <div id="issue-form">


    @if(issueForm.hasErrors) {
        <div class="alert-message error">
            <p><strong>Attention Needed!</strong> Please fix all errors!</p>
        </div>
    }


    @helper.form(action = routes.Application.newIssue) {

        @inputText(
            field = issueForm("title"),
            args = '_label -> "Title of the task?", 'placeholder -> "Coolest Task In The World"
        )

        @inputText(
            field = issueForm("description"),
            args = '_label -> "What is the task about?", 'size -> 20, 'placeholder -> "Tell me about the task. . ."
        )

         @select(
            field = issueForm("developerAssigned"),

            options = options(devs.map((d: Developer) => d.id.toString -> d.name.toString).toMap),

            args = '_label -> "Choose a Developer"
        )

        <input type="submit" value="Add Issue">

    }
    </div>

    <div id="isses">
        <h2>List of Issues</h2>
        <table class="table" id ="issue-list">
            <tr>
                <th>ID</th>
                <th>Date Created</th>
                <th>Title</th>
                <th>Description</th>
                <th>DeveloperAssigned</th>
            </tr>
            @for(i <- issues) {
                <tr>
                    <td>@i.id</td>
                    <td>@i.dateCreated</td>
                    <td>@i.title</td>
                    <td>@i.description<td>
                    <td>@Developer.getDevByID(i.developerAssigned).get.name</td>
                </tr>
            }
        </table>
    </div>

    <div id="developers">
        <h2>Add a developer</h2>
        <!--TODO: Instead of everything on one page -> Just make a normal site with individual pages for the similar things) -->
        @if(developerForm.hasErrors) {
            <div class="alert-message error">
                <p><strong>Attention Needed!</strong> Please fix all errors!</p>
            </div>
        }
        @helper.form(action = routes.Application.newDeveloper) {
            @inputText(
                field = developerForm("name"),
                args = '_label -> "Insert developer's Name", 'placeholder -> "Charlie Brown"
            )
            <input type="submit" value="Add Developer">
        }

        <script src="@routes.Assets.at("javascripts/index.js")" type="text/javascript"></script>

        <h2>List of Devs</h2>
        <ul id="devs"></ul>
    </div>






}
